@media(max-width:1000px){
  *{
    box-sizing:border-box;
  }

  header{
    background-size:cover;
  }
  body{
    background-image: url("ましましタイムズトップ画.jpg");
    background-size:auto;
    background-repeat: no-repeat;
  }

  h1{
    font-family: 'Impact';
    font-size:70px;
    text-align: center;
  }
  p{
    text-align: center;
  }
}
